{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>This Cup</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a class="newcupbutton" href="{% url 'list_cups' %}">Cup Log</a>
                        <a class="newcupbutton" href="{% url 'list_beans' %}">Bean Log</a>
                    </li>
                    <li>
                        <a class="newcupbutton" href="{% url 'create_cup' %}">Add New Cup</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Cup Details: {{ cup.date_consumed }}</h1>
                <p>
                    <table>
                        <thead>
                            <th>Description</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ cup.notes }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </body>
    </html>
